{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
{% block main %}
        <table style="width:100%">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Country</th>
                <th>Language</th>
                <th>Status</th>
                <th>Last update</th>
            </tr>
                {% for el in list %}
                    <tr>
                        <td>
                            {{ el.Title }}
                        </td>
                        <td>
                            {{ el.Author }}
                        </td>
                        <td>
                            {{ el.Year }}
                        </td>
                        <td>
                            {{ el.Country }}
                        </td>
                        <td>
                            {{ el.Language }}
                        </td>
                        <td>
                            {{ el.Status }}
                        </td>
                        <td>
                            {{ el.update }}
                        </td>
                    </tr>
                {% endfor %}
        </table>
{% endblock %}
